body {
  overflow-x: hidden;
}
.mapboxgl-popup {
   max-width: 400px;
   font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
   background-color: white;
 }
#map {
  height: 50vh;
  width: 100%;
}

@media (min-width: 992px) {
  #map {
    height: calc(100vh - 55px);
    width: 100%;
  }
}

@keyframes blinker { to { opacity: 0.1; } }
