body {
  overflow-x: hidden;
}
.mapboxgl-popup-content {
  border-radius: 10px !important;
  background-color: white;
  padding: 7px;
}
.mapboxgl-popup-close-button {
  float: right;
  border: 0;
  background-color: white;
  color: grey;
}
.mapboxgl-popup {
   max-width: 200px;
   font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
   background-color: none;
 }
#map {
  height: 50vh;
  width: 100%;
}

@media (min-width: 992px) {
  #map {
    height: calc(100vh - 45px);
    width: 100%;
  }
}

@keyframes blinker { to { opacity: 0.1; } }
